SITE_URL=https://mymetatrader.finance
FAL_KEY=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
RAILWAY_TOKEN=
SQUIDEX_URL=https://cloud.squidex.io
SQUIDEX_APP=mymetatrader
SQUIDEX_CLIENT_ID=mymetatrader:default
SQUIDEX_CLIENT_SECRET=
